html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    font-family:PingFangSC-Regular;
    font-size: 16px;
    background-color: #fff;
    position: relative;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.center{
    width: 1200px;
    margin:0 auto;
}
/* nav导航样式 */
.nav-container{
    width:100%;
    height: 70px;
    border-bottom: solid 1px #E5E6E9;
    box-shadow: 1px 1px 1px #E5E6E9;
    position: fixed;
    top:0;
    background-color: #fff;
    z-index: 10000;
}

.nav-content{
    width: 1200px;
    height: 100%;
    margin:0 auto;
}

.nav-logo{
    float:left;
    width: 149px;
    height: 47px;
    /* border: solid 1px red; */
    margin-top:11px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-tab{
    float:right;
    height: 100%;
}

.selected{
    border-bottom: solid 4px #E9222A;
    color: #E9222A;
    background-color: #F6F6F6;
    font-weight:600;
}

.coption{
    width: 95px;
    height:100%;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    float:left;
    cursor: pointer;
    margin:0 15px;
}

.coption:hover{
    color: #E9222A;
}

.search{
    width: 95px;
    height: calc(100% - 4px);
    float: right;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30px;
    position: relative;
    top:4px;
}

.search i{
    display:inline-block;
    width: 18px;
    height: 19px;
    background:url('../image/首页/搜索.png') no-repeat;
    background-size: 100% 100%;
    margin-right: 20px;
    cursor: pointer;
}

.red{
    color:#E9222A;
}

.nav-tab-list{
    display:none;
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    background: #F6F6F6;
    z-index: 1000;
    padding: 20px 0 55px;
}

.nav-tab-list .tab-container{
    width: 1200px;
    height: 100%;
    margin:0 auto;
}

.nav-tab-list .tab-container .tab-left{
    float: left;
    margin-right: 62px;
}

.nav-tab-list .tab-container .tab-left img{
    width: 280px;
    height: 160px;
    margin-bottom: 20px;
}

.nav-tab-list .tab-container .tab-left h3{
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #E9222A;
    text-align:left;
    margin:0;
    height: 28px;
    line-height: 28px;
    position: relative;
    top:-30px;
    font-weight: normal;
}

.nav-tab-list .tab-container .tab-right{
    float:left;
}

/* main中间样式 */

.main-container{
    position: relative;
    width: 100%;
    margin-top:70px;
}

.main-cont{
    width: 1200px;
    margin:0 auto;
    padding-top:20px;
    
}
.main-left{
    width: 240px;
    margin-right: 45px;
    float: left;
}

.main-left .logo{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #383A3E;
    margin-bottom: 20px;
    padding: 10px;
}

.main-left .logo h1{
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 37px;
    font-weight: normal;
}

.main-left .logo h1 small{
    font-size: 16px;
    position: relative;
    top:-8px;
}

.main-left .logo img{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.main-left ul{
    width: 100%;
}

.main-left ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    background: #F5F5F5;
    margin-bottom: 10px;
}

.main-left ul li span{
    float:left;
}

.main-left ul li i{
    display:inline-block;
    width: 8px;
    height: 12px;
    float: right;
    background: url('../image/走进汉邦/箭头-未选中.png') no-repeat center center;
    margin-top:14px;
}

.main-left ul li:hover{
    background: #E9222A;
    color: #fff;
}

.main-left ul li:hover i{
    background: url('../image/走进汉邦/箭头-选中.png') no-repeat center center;
}

.main-left ul .selected{
    background: #E9222A;
    color:#fff;
}

.main-left ul .selected i{
    background: url('../image/走进汉邦/箭头-选中.png') no-repeat center center;
}

.main-right{
    width: calc(100% - 285px);
    float: left;
}

.main-right-title{
    width: 100%;
    border-bottom:solid 1px #DCDCDC;
    text-align: right;
    padding-bottom: 12px;
    margin-bottom: 10px;
}
/* 职位详情 */
.contactDetail{
    position: fixed;;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    z-index: 100000;
    display:none;
    overflow: auto;
}

.contactDetail .content{
    width: 720px;
    height: 685px;
    background: #fff;
    position: absolute;
    top:120px;
    left: 50%;
    margin-left: -360px;
    display:none;
}

.contactDetail .content .title{
    width: 720px;
    height: 143px;
    position:absolute;
    top: 0;
    left:0;
    /*margin-left: -360px;*/
    padding: 40px;
    background: #fff;
    border-bottom: solid 1px #DCDCDC;
}
.contactDetail .content .title h3{
    font-size: 24px;
    color: #31373D;
    letter-spacing: 0;
    margin-bottom: 8px;
}
.contactDetail .content .title p{
    font-size: 16px;
    color: #333333;
}

.contactDetail .content .cont{
    width: 100%;
    height: 470px;
    margin-top:143px;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 20px 40px;
}

.contactDetail .content .cont>P{
    margin-bottom: 20px;
}

.contactDetail .content .cont ul li{
    margin-bottom: 10px;
}
.contactDetail .content .ft{
    width: 720px;
    height: 72px;
    position: absolute;
    bottom:0;
    left: 0;
    background: #fff;
    border-top:solid 1px #DCDCDC;
    text-align:center;
}

.contactDetail .content .ft a{
    display:inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    background: #E9222A;
    border-radius: 2px;
    margin-top:16px;
}

/* 产品中心-详情 */

.productDetail h2{
    padding: 45px 0 68px 0;
}

.productDetail p{
    letter-spacing: 2;
}

.productDetail .image{
    width: 520px;
    height: 320px;
    margin:20px auto;
    /* border:solid 1px #ccc; */
    text-align: center;
}

.productDetail .image img{
    width: 565px;
    height: 328px;
}
.productDetail h4{
    width: 100%;
    color: red;
    text-align: center;
    margin:30px 0;
}

/* footer底部样式 */

.footer-container{
    width: 100%;
    /* height:262px; */
    background: #F6F8FA;
}

.footer-content{
    width: 1200px;
    height: 262px;
    padding-top: 50px;
    margin:0 auto;
}

.footer-logo{
    width: 215px;
    height: 69px;
    /* border:solid 1px red; */
    margin-right: 160px;
    float:left;
}

.footer-tab{
    float:left;
}

.footer-tab ul li{
    float:left;
    width: 80px;
    margin-right: 50px;
}

.footer-tab ul li span{
    font-size:18px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.footer-tab ul li ol li{
    font-size:14px;
    margin-top:10px;
}

.footer-common{
    float:left;
}

.footer-common .footer-common-gz{
    width: 120px;
    height: 120px;
}

.footer-common span{
    display: inline-block;
    width: 120px;
    text-align: center;
}

.footer-ft{
    width: 100%;
    height: 96px;
    /* line-height: 40px; */
    background-color:#292929;
    color: #fff;
    overflow: hidden;
}

.footer-ft .footer-p{
    width: 1200px;
    /* height: 100%; */
    height: 20px;
    line-height: 20px;
    font-size:14px;
    margin:16px auto;
    text-align: center;
    letter-spacing: 0;
}
