.menuUl{
    padding: 0;
    margin:0;
    list-style: none;
}
.menuLi{
    position: relative;
    width: 270px;
    height: 22px;
    cursor: pointer;
    margin-bottom: 25px;
    border-bottom: solid 1px #DCDCDC;
}
.menuLi span{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
}
.menuLi:hover{
    color: #E9222A;
}
.menuDiv{
    position: absolute;
    left: 100%;
    top:0;
    display:none;
}