.page{
    list-style: none;
    float: right;
    margin-top:.24rem;
    margin-bottom: .75rem;
    font-size: 0.16rem;
}
.page>li{
    float: left;
    padding: .05rem .1rem;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: .05rem;
}
.page .pageItemActive{
    border: solid thin #E9222A;
    margin: .05rem;
    background-color: #E9222A;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #E9222A;
    background-color: #E9222A;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: .05rem;
    background-color: #DDDDDD;
}