.page{
    list-style: none;
    float: right;
    margin-top:24px;
    margin-bottom: 75px;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #E9222A;
    margin: 5px;
    background-color: #E9222A;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #E9222A;
    background-color: #E9222A;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}