.xmSlide-pagination {
    width: 100%;
    position: absolute;
    bottom:20px;
	background-color:transparent;
	text-align: center;
    height: 20px;
    z-index: 100;
}

.xmSlide-pagination li {
	display: inline-block;
	width: 20px;
	height: 6px;
    margin: 0 5px;
    border-radius: 5px;
}

.xmSlide-pagination li a {
	display: inline-block;
	width: 20px;
    height: 6px;
	text-indent: -9999px;
    background-color: #fff;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}
.product-slide .xmSlide-pagination li a{
	background-color:#8D8D8D;
}
.xmSlide-pagination li a.active {
	background-color:#E9222A;

}
.xmSlide-control {
	overflow: hidden;
}
