
/*走进汉邦-关于汉邦*/
.zjhb{
    width:100%;
}
.zjhb .img{
    width:100%;
    /* height: 3rem; */
    position:relative;
}
.zjhb .img>img{
    width: 100%;
    height: 100%;
}
.zjhb .img .title{
    position:absolute;
    z-index:10;
    top:.32rem;
    left:.32rem;
}
.zjhb .img .title h3{
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #FFFFFF;
    font-weight: normal;
    height: .45rem;
    line-height: .45rem;
}
.zjhb .img .title i{
    display:block;
    width:.56rem;
    height: .04rem;
    background: #fff;
    margin-top:.08rem;
}
.zjhb .img .bottom{
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    /* height: .94rem; */
    /*opacity: 0.5;*/
    background:rgba(0,0,0,.5);
    z-index: 10;
}
.gyhb .img .bottom p{
    float: left;
    width: 25%;
    /* height: .62rem; */
    /*color:#fff;*/
    text-align: center;
    margin:.16rem 0;
}
.gyhb .img .bottom p span{
    display:block;
    color: #FFFFFF;
    font-family: PingFangSC-Regular;
    font-size: .28rem;
}
.gyhb .img .bottom p br{
    display: none;
}
.gyhb .img .bottom p small{
    display:block;
    color: #fff;
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gyhb .brief{
    width:100%;
    /* height: 1.63rem; */
    padding:.24rem;
    background: #F5F5F5;
    margin-bottom: 1.26rem;
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    color: #333333;
    /* line-height: .28rem; */
}
/*走进汉邦-汉邦理念（原先版本，现在已不用）*/
/* .hbln .img .bottom p{
    float: left;
    width: 33.33%;
    height: 48px;
    margin:23px 0;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hbln .img .bottom p>img{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}
.hbln .img .bottom p span{
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #FFFFFF;
    text-align:left;
}
.hbln .img .bottom p span small{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
}
.hbln .content{
    width: 100%;
    height: 495px;
    padding: 31px 0;
    margin-bottom: 64px;
}
.hbln .content .cont{
    width: 218px;
    height: 90px;
    float:left;
    background: #F5F5F5;
    margin-bottom: 16px;
    padding:16px 10px;
}
.hbln .content .cont:not(:nth-of-type(4n)){
    margin-right: 14px;
}
.hbln .content .cont h3{
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #E9222A;
    letter-spacing: 0;
}
.hbln .content .cont h3::before{
    content:'';
    display:inline-block;
    width:8px;
    height: 8px;
    background: #E9222A;
    margin-right: 8px;
    position:relative;
    top:-2px;
}
.hbln .content .cont p{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    margin-top:10px;
} */

/* 走进汉邦-汉邦理念（新） */
.hbln{
    width: 100%;
    height:6rem;
    margin-bottom: .42rem;
    background: url('../image/走进汉邦/关于汉邦.jpg') no-repeat;
    background-size: 100% 100%;
    padding: .2rem;
}
.hbln .center{
    width:100%;
    margin-top:1rem;
}
.hbln .center p{
    float: left;
    height: .48rem;
    margin:.23rem .1rem;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hbln .center p>img{
    width: .48rem;
    height: .48rem;
    margin-right: .16rem;
}
.hbln .center p span{
    font-size: .16rem;
    color: #FFFFFF;
    text-align:left;
}
.hbln .center p span small{
    font-size: .14rem;
    color: #eee;
}
.hbln .bottom{
    width: 100%;
    height: 2rem;
    margin-top:.5rem;
    padding-left: .6rem;
}
.hbln .bottom ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.hbln .bottom ul li{
    position: absolute;
    width: 100%;
    left: 0;
}
.hbln .bottom ul li:nth-of-type(1){
    top:0;
}
.hbln .bottom ul li:nth-of-type(2){
    top:.5rem;
}
.hbln .bottom ul li:nth-of-type(3){
    top:1rem;
}
.hbln .bottom ul li:nth-of-type(4){
    top:1.5rem;
}
.margin-left1{
    margin-left:1.2rem;
}
.margin-left2{
    margin-left:.87rem;
}
.margin-left3{
    margin-left: 1.74rem;
}
.margin-left4{
    margin-left:2.94rem;
}
.margin-left7{
    margin-left:4.68rem;
}
.hbln .bottom ul li .cont{
    float:left;
    position: relative;
    width: .54rem;
    height: .935rem;
    background: rgba(116,116,116,0.5);
}
.hbln .bottom ul li .cont::before{
    content: '';
    display:block;
    position: absolute;
    width: 0;
    height: 0;
    right:.54rem;
    border-width: .467rem .27rem;
    border-style: solid;
    border-color: transparent rgba(116,116,116,.5) transparent transparent;
}
.hbln .bottom ul li .cont::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left:.54rem;
    border-width: .467rem .27rem;
    border-style: solid;
    border-color: transparent transparent transparent rgba(116,116,116,.5);
    top:0;
}
.hbln .bottom ul li .cont h3{
    font-size: .14rem;
    font-weight: normal;
    position: absolute;
    left: -.1rem;
    right: -.1rem;
    top:.18rem;
    z-index: 100;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hbln .bottom ul li .cont p{
    font-size: .12rem;
    position: absolute;
    top:.4rem;
    left: -.2rem;
    right: -.2rem;
    z-index: 100;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 走进汉邦-荣誉资质 */
.ryzz h4{
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #333333;
    text-align: center;
    margin:.24rem 0 .16rem 0;
    font-weight: normal;
}
.ryzz .cont img{
    width: 2.8rem;
    height: 2rem;
    float: left;
    margin-bottom: .24rem;
}
.ryzz .cont img:not(:nth-of-type(3n)){
    margin-right:.37rem;
}
.ryzz .cont1{
    margin-bottom: .64rem;
}
.ryzz .cont1 img{
    width: 1.5rem;
    height: 2rem;
    float: left;
}
.ryzz .cont1 img:not(:nth-last-child(1)){
    margin-right: .41rem;
}
/*走进汉邦-发展历程*/
.fzlc .img{
    height: 7.02rem;
    margin-bottom: .42rem;
}
.fzlc .img .title h3{
    color: #E9222A;
}
.fzlc .img .title i{
    background: #E9222A;
}

/* 汉邦资讯-汉邦动态 */
.hbdt .image{
    width: 100%;
    height: 3rem;
    background: #9E9EA4;
    margin-bottom: .2rem;
}
.hbdt .image img{
    width: 100%;
    height: 100%;
}
.hbdt ul.content li{
    width: 100%;
    /* height: 1.44rem; */
    background: #F5F5F5;
    padding: .1rem;

}
.hbdt ul.content li:after{
    content:'';
    display:table;
    clear:both;
}
.hbdt ul.content li:not(:nth-last-child(1)){
    margin-bottom: .1rem;
}
.hbdt ul.content li img{
    float:left;
    width: 1.92rem;
    height: 100%;
    background: #ccc;
}
.hbdt ul.content li .cont{
    float: left;
    width: calc(100% - 1.92rem);
    height: 100%;
    padding: .05rem .1rem;
    color: #676767;
    font-size: .14rem;
}
.hbdt ul.content li .cont h3{
    font-weight:normal;
    font-size:.1872rem;
    margin-bottom: .1rem;
}
.hbdt ul.content li .cont h3 a{
    color:#000;
    text-decoration: none;
}
.hbdt ul.content li .cont h3 a:hover{
    color: #E9222A;
}
.hbdt ul.content li .cont hr{
    opacity: 0.3;
    margin-top:.1rem;
}
.hbdt ul.content li .cont p{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    margin-top:.1rem;
    box-sizing: content-box;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 行业动态的样式 */
.hydt .image{
    width: 100%;
    height: 3rem;
    background: #9E9EA4;
    margin-bottom: .2rem;
}
.hydt .image img{
    width: 100%;
    height: 100%;
}
.hydt .content li{
    width: 100%;
    /* height: 1.3rem; */
    padding: .3rem 0;
    border-bottom: solid 1px #DCDCDC;
}
.hydt .content li .time{
    float: left;
    width: .5rem;
    height: .56rem;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    margin-right: .2rem;
    /* padding: .04rem 0; */
    /* text-align:center; */
    position: relative;
}
.hydt .content li .time br{
    display: none;
}
.hydt .content li .time span{
    display:block;
    font-family: PingFangSC-Regular;
    font-size:.24rem;
    color: #666666;
    /* line-height: .24rem; */
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);
}
.hydt .content li .time small{
    display:block;
    font-family: PingFangSC-Regular;
    font-size: .12rem;
    color: #666666;
    line-height: .12rem;
    margin-top:.05rem;
    position: absolute;
    bottom:0.1rem;
    left: 50%;
    transform: translateX(-50%) scale(0.75);
    
}
.hydt .content li .cont{
    float:left;
    width: calc(100% - .7rem);
}
.hydt .content li .cont h3{
    font-family: PingFangSC-Regular;
    margin-bottom: .06rem;
    cursor: pointer;
    font-weight: normal;
    font-size:.16rem;
}
.hydt .content li .cont h3 a{
    font-size: .2rem;
    color: #333333;
    text-decoration: none;
}
.hydt .content li .cont h3 a:hover{
    color:#E9222A;
}
.hydt .content li .cont p{
    font-family: PingFangSC-Regular;
    font-size: .12rem;
    color: #333333;
    /* line-height: .18rem; */
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 汉邦资讯-行业动态-详情 */
.newsDetail{
    text-align: center;
    margin-bottom: .84rem;
}
.newsDetail .title h4{
    font-family: PingFangSC-Semibold;
    font-size: .24rem;
    color: #333333;
    text-align: left;
    margin-bottom: .08rem;
    margin-top:.4rem;
}
.newsDetail .title P{
    font-family: PingFangSC-Regular;
    font-size: .14rem;
    color: #666666;
    line-height: .2rem;
    margin-bottom: .6rem;
    text-align:left;
}
.newsDetail>h5{
    font-family: PingFangSC-Semibold;
    font-size: .18rem;
    color: #E9222A;
    text-align: center;
    margin:.24rem 0;
}
.newsDetail>p{
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    color: #333333;
    margin:.24rem 0;
    text-align: left;
}
.newsDetail>img{
    width: 6.81rem;
    height: 3.09rem;
}
/* 产品中心-液相色谱系统 */
.yxsp{
    margin-bottom: .74rem;
    font-size:.16rem;
}
.yxsp .img{
    width:100%;
    /* height: 3rem; */
    background: #FDFDFD;
    border: 1px solid #D5D5D5;
    padding:.6rem .2rem;
}
.yxsp .img::after{
    content:'';
    display:table;
    clear:both;
}
.yxsp .img img{
    width:3.1rem;
    height: 1.8rem;
    float: left;
    margin-right: .1rem;
}
.yxsp .img .brief{
    float: left;
    width: calc(100% - 3.2rem);
    margin-top:.4rem;
}
.yxsp .img .brief h3{
    color: #E9222A;
    font-weight: normal;
    font-size: .18rem;
    margin-bottom: .2rem;
}
.yxsp .img .brief p{
    font-size: .14rem;
}
.yxsp .content{
    width: 100%;
    background: #F5F5F5;
    padding: .16rem .24rem;
}
.yxsp .content .tab li{
    position: relative;
    width: 2.4rem;
    height: .4rem;
    line-height: .4rem;
    text-align:center;
    background: #E1E1E1;
    color:#333;
    margin-right: .4rem;
    float: left;
    cursor: pointer;
    font-size: .16rem;
}
.yxsp .content .tab li:hover{
    background: #E9222A;
    color: #fff;
}
.yxsp .content .tab li.active{
    background: #E9222A;
    color: #fff;
}
.yxsp .content .tab li.active:after{
    display:inline-block;
    content:'';
    position: absolute;
    bottom:-.06rem;
    left:50%;
    margin-left:-.03rem;
    width:0;
    height:0;
    border-style:solid;
    border-color:#E9222A transparent transparent;
    border-width:.06rem .06rem 0;
}
.yxsp .content .cont{
    width: 100%;
    margin-top:.22rem;
    padding: .16rem 0;
    border-top:solid 1px #DCDCDC;
}
.yxsp .content .cont ul li{
    float:left;
    width:calc(33.33% - .1rem);
    height: 2.8rem;
    margin-bottom: .16rem;
    cursor:pointer;
}
.yxsp .content .cont ul li:not(:nth-child(3n)){
    margin-right: .15rem;
}
.yxsp .content .cont ul li img{
    width: 100%;
    height: 2.4rem;
    display: block;
}
.yxsp .content .cont ul li p{
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    background: #DFDFDF;
    color: #333;
    text-align: center;
    font-size: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.yxsp .content .cont ul li:hover{
    background: #FFFFFF;
    border: 1px solid #E9222A;
}
.yxsp .content .cont ul li:hover p{
    background:#E9222A;
    color:#fff;
}
.yxsp .content .cont .hide{
    display:none;
}
/* 联系我们-加入汉邦 */
.jrhb .email{
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    color: #FFFFFF;
    margin-top:.2rem;
    opacity: 0.9;
}
.jrhb .email li{
    /* height: .22rem; */
    /* line-height: .22rem; */
    margin-bottom: .02rem;
}
.jrhb .content{
    margin-bottom: .65rem;
}
.jrhb .content .cont{
    width: 100%;
    /* height: 1.4rem; */
    padding: .2rem 0;
    border-bottom: solid 1px #DCDCDC;
}
.jrhb .content .cont h4{
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #333333;
    height: .28rem;
    line-height: .28rem;
    font-weight: normal;
    margin-bottom: .04rem;
}
.jrhb .content .cont h4 a{
    /* width: .8rem; */
    /* height: .28rem; */
    /* line-height: .28rem; */
    float: right;
    text-align: center;
    color: #E9222A;
    border: 1px solid #E9222A;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: .14rem;
    letter-spacing: 0;
    text-decoration: none;
    padding: 0.1rem;
}
.jrhb .content .cont .address{
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    color: #333333;
    margin-bottom: .1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.jrhb .content .cont .task{
    font-family: PingFangSC-Regular;
    font-size: .14rem;
    color: #666666;
    /* line-height: .18rem; */
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 联系我们-联系我们 */
.lxwm{
    margin-bottom: 2.89rem;
}
.lxwm .img .email{
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    color: #FFFFFF;
    margin-top:.2rem;
}
.lxwm .img .email li{
    height: .22rem;
    line-height: .22rem;
    opacity: 0.9;
    margin-bottom: 2px;
}